/.git
**.gitignore
**.gitattributes
**.git
Dockerfile
docker-compose.yml
phpunit.xml
Makefile
readme.md

node_modules
vendor
linters
scripts
tests

.reports
.ecsReports
/.idea
**.idea
*.env*
.DS_Store
.scannerwork
.sasslintrc
**.sass-cache
.gitlab-ci.yml

npm-debug.log
yarn-error.log
/v8-compile-cache-0

/bootstrap/cache/**
/storage/app/public/**
/storage/framework/cache/**
/storage/framework/sessions/**
/storage/framework/testing/**
/storage/framework/views/**
/storage/logs/**
/.docker-volumes
/vendor
*.iml
.dockerignore
.editorconfig
